@use "abstracts" as *;

.search-movies {
  display: grid;
  gap: var(--margin-200);
}

.queried-movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: var(--margin-900);

  @media (min-width: breakpoint("medium")) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}
