@use "abstracts" as *;

.search-movies {
  display: grid;
  justify-items: center;
}

.interface-container {
  display: grid;
  gap: var(--margin-200);
  max-width: 60rem;
  margin-bottom: var(--margin-900);
  width: 100%;
  grid-template-areas:
    "choose-language change-color-theme .          .            "
    "search-bar      search-bar         search-bar submit-button"
    "label           .                  .          .            ";
  grid-template-columns: auto auto 1fr auto;
  align-items: center;

  @media (max-width: breakpoint("medium")) {
    max-width: unset;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "choose-language    choose-language   "
      "change-color-theme change-color-theme"
      "search-bar         search-bar        "
      "label              submit-button     ";
  }
}

.choose-language-select {
  grid-area: choose-language;
}

.change-color-theme {
  grid-area: change-color-theme;
}

.movies-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--margin-700);

  @media (min-width: 52.5rem) and (max-width: 87.5rem) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
}

.movies-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--margin-700);

  @media (min-width: 52.5rem) and (max-width: 87.5rem) {
    display: contents;
  }

  @media (max-width: 40rem) {
    display: contents;
  }
}
