@use "abstracts" as *;

.add-to-favorites-button {
  display: grid;
  place-items: center;
  right: -30%;
  bottom: var(--margin-700);
  border: none;
  border-radius: 50%;
  background-color: var(--color-neutral-900);
  transition: background-color 0.2s;
  cursor: pointer;
}

.add-to-favorites-button:hover {
  background-color: var(--color-neutral-700);
}

.add-to-favorites-icon {
  width: 70%;
  height: 70%;
  fill: var(--color-neutral-200);
  stroke: var(--color-neutral-200);
  stroke-width: 1px;
  animation: remove-from-favorites 0.2s forwards ease-out;
}

.add-to-favorites-button-checked > .add-to-favorites-icon {
  fill: var(--color-neutral-200);
  animation: add-to-favorites-appearance 0.4s forwards ease-out;
}

.add-to-favorites-button:hover > .add-to-favorites-icon {
  fill: var(--color-neutral-100);
  stroke: var(--color-neutral-100);
}

@keyframes add-to-favorites-appearance {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes remove-from-favorites {
  from {
    fill-opacity: 100%;
  }

  to {
    fill-opacity: 0%;
  }
}
