@use "abstracts" as *;

.movie-search-form {
  display: contents;

  .title-input-label {
    grid-area: label;
    text-transform: uppercase;
    font-size: var(--font-size-200);
  }

  .title-input {
    grid-area: search-bar;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 2px solid var(--color-neutral-300);
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);
    font-size: var(--font-size-700);
  }

  button[type="submit"] {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    grid-area: submit-button;
    align-self: stretch;
    padding: 0.5em 1em;
    background-color: var(--color-neutral-900);
    border-radius: 0.5em;
    border: none;
    transition: background-color 0.2s;
    color: var(--color-neutral-200);
    font-size: var(--font-size-500);
    line-height: 1;

    &:hover {
      background-color: var(--color-neutral-700);
      cursor: pointer;
    }

    .submit-button-icon {
      width: 1em;
      height: auto;
    }

    @media (max-width: breakpoint("medium")) {
      justify-self: end;
    }
  }
}
