body {
  color: var(--color-neutral-900);
  font-family: sans-serif;
}

h1 {
  font-size: var(--font-size-900);
  text-align: center;
}

.movie-search-form {
  .title-input-label {
    font-size: var(--font-size-200);
    text-transform: uppercase;
  }

  .title-input {
    font-size: var(--font-size-700);
  }

  button[type="submit"] {
    color: var(--color-neutral-200);
    font-size: var(--font-size-500);
  }
}
