@use "../abstracts" as *;

.search-movies {
  display: grid;
  gap: var(--margin-700);
}

.movie-search-form {
  display: grid;
  gap: var(--margin-200);
  grid-template-areas:
    "label"
    "search-bar"
    "submit-button";

  @media (min-width: breakpoint("medium")) {
    grid-template-areas:
      "label ."
      "search-bar submit-button";
    grid-template-columns: 1fr minmax(8em, auto);
  }

  .title-input-label {
    grid-area: label;
    text-transform: uppercase;
  }

  .title-input {
    grid-area: search-bar;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 2px solid var(--color-neutral-300);
  }

  button[type="submit"] {
    grid-area: submit-button;
    padding: 0.5em 1em;
    background-color: var(--color-neutral-900);
    border-radius: 0.5em;
    border: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-neutral-700);
      cursor: pointer;
    }
  }
}

.queried-movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: var(--margin-400);
}
