@use "../abstracts" as *;

.search-movies {
  display: grid;
  gap: var(--margin-700);
}

.queried-movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--margin-400);

  @media (min-width: breakpoint("medium")) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}
