.favorites-container {
  width: calc(100% - 2 * var(--margin-700));
  max-width: 60rem;
  margin: 0 auto;
  padding: var(--margin-700);
  box-sizing: content-box;
}

.favorites-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  gap: var(--margin-900);

  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
}

.empty-list-message {
  font-size: var(--font-size-700);
  font-style: italic;
  color: var(--color-neutral-400);
  padding: 8rem 0;
}

.favorite-card {
  box-shadow: 0 5px 10px rgba(0 0 0 / 15%);
  border-radius: 0.5em;
  padding: 1em;
  width: 100%;
  max-width: 40rem;
  background-color: var(--color-neutral-100);
  display: grid;
  grid-template:
    "poster          title          "
    "poster          favorite-button" / 4rem 1fr;
  gap: var(--margin-400);

  @media (max-width: 20rem) {
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    grid-area: title;
  }

  .poster {
    grid-area: poster;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5em;

    @media (max-width: 20rem) {
      max-width: 8rem;
      max-height: 8rem;
      object-fit: cover;
      order: -1;
    }
  }

  .favorite-button {
    grid-area: favorite-button;
    width: 2.5rem;
    height: 2.5rem;
    justify-self: flex-end;
  }
}
