@use "./base";
@use "./utils";
@use "./layout";

$include: ("us", "ru");

@use "flag-icons/sass/flag-icons" with (
  $flag-icons-path: "flag-icons/flags",
  $flag-icons-included-countries: ("ru", "us")
)
